*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #364844;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1175px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 18px 0 17px;
}


.button-green {
    background-color: #0DBC91;
    border-radius: 50px;
    color: #FFFFFF;
    cursor: pointer;
}

.button-green:hover,
.button-green:focus  {
    background: #00D29F;
    transition: all ease 0.5s;
}

.button-transparent {
    border-radius: 50px;
    cursor: pointer;
    background-color: transparent;
    border: #0DBC91 solid 1px;
    color: #0DBC91;
}

.button-transparent:hover,
.button-transparent:focus {
    border-radius: 50px;
    border: 1px solid #0DBC91;
    background: #0DBC91;
    color: #fff;
    transition: all ease 0.5s;
}


.button-white {
    border-radius: 50px;
    cursor: pointer;
    background-color: transparent;
    color: #0DBC91;
    background: #F6F6F6;
}

.button-white:hover,
.button-white:focus {
    border-radius: 50px;
    background: #0DBC91;
    color: #fff;
    transition: all ease 0.5s;
}