.header {
    z-index: 10;
}

.header__wrapper {
    display: flex;
    height: 67px;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    width: 100%;

    @media (max-width: 768px) {
        height: 65px;
        align-items: center;
        background: #F7F7F7;
        position: fixed;
    }
}



.header__col_left {
    display: flex;
}

.header__logo {
    @media (min-width: 769px) {
        min-width: 80px;
        min-height: 29px;
        padding-right: 42px;
    }

    @media (max-width: 768px) {
        max-width: 62px;
        max-height: 26px;
    }
}

.header__location {
    position: relative;
    height: 38px;

    @media (max-width: 768px) {
        display: none;
    }
}



.header__location::before {
    content: '';
    background-image: url(../image/icons/location.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    left: -23px;
    top: 3px;
    height: 20px;
    width: 20px;
}


.header__location-city {
    margin: 0 0 -3px;
    width: 111px;
}

.header__location-street {
    margin: 0;
    color: #868686;
}


.header__callback {
    .header__location-city {
        display: none;

        @media (max-width: 768px) {
            display: block;
            width: 138px;
            text-align: end;
            font-size: 13px;
            line-height: 24px;
        }
    }
}

.header__callback-number {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: #364844;
    text-decoration: none;
    margin-right: 31px;

    @media (max-width: 768px) {
        font-weight: 700;
        margin-right: 0px;
    }
}



.header__callback-number::before {
    content: '';
    background-image: url(../image/icons/whatsapp.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    left: -37px;
    top: -2px;
    height: 28px;
    width: 28px;

    @media (max-width: 768px) {
        display: none;
    }
}



.header__button {
    padding: 12px 24px;

    @media (max-width: 768px) {
        display: none;
    }
}



.header__menu-btn {
    padding: 11px 24px;
    position: absolute;
    top: 247px;
    display: none;

    @media (max-width: 768px) {
        display: block;
    }
}



.header__nav {
    background-color: #1FA181;

    @media (max-width: 768px) {
        position: fixed;
        top: 65px;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(69, 146, 127, 0.9);
        backdrop-filter: blur(2px);
        transform: translateX(-100%);
        transition: transform 0.5s;
        z-index: 3;
    }
}

.header__nav.active {
    @media (max-width: 768px) {
        transform: translateX(0);
    }
}

.header__nav li {
    @media (max-width: 768px) {
        list-style-type: none;
    }
}