.form__section {
    margin-bottom: 35px;
    position: relative;
}

.form__input {
    height: 27px;
    width: 100%;
    padding: 0 0 13px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: none;
    font-family: 'Inter',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #000000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.form__input:last-of-type {
    margin-bottom: 0;
}

.form__submit {
    width: 100%;
    border-radius: 50px;
    background: #0DBC91;
    text-align: center;
    cursor: pointer;
    padding: 14px 0 14px;
    transition: all 0.3s;
    color: #fff;
    font-family: 'Inter',Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    border: 1px solid transparent;
}

@media (max-width: 767px) {
.form__submit {
    font-size: 14px;
    line-height: 1.21;
}
}