@import url(../vendor/normalize.css);

@import url(../blocks/common/common.css);

@import url(../blocks/menu/menu.css);

@import url(../blocks/header/header.css);

@import url(../blocks/promo/promo.css);

@import url(../blocks/nav-content/nav-content.css);

@import url(../blocks/slider/slider.css);

@import url(../blocks/swiper/swiper.css);

@import url(../blocks/footer/footer.css);

@import url(../blocks/popup/popup.css);

@import url(../blocks/popup-form/popup-form.css);


.header__callback-number::before {
    content: '';
    background-image: url(../../image/icons/whatsapp.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    left: -37px;
    top: -2px;
    height: 28px;
    width: 28px;
}







